* {
    margin: 0;
    padding:0;
    background-color: var(--bg-primary);

}

:root {
    --primary:#45a29e;
    --bg-primary:#1f2833;
    --secondary:#66fcf1;
    --bg-secondary:#97999a;
}



body {
   
    color: var(--bg-secondary);
    font-size: 30px;
    text-align: center;
    

}

.main-pic {
    width: 350px;
    border: 2px solid black;
    border: hidden;
    border-radius: 15%;
    
}

h1 {
    color: var(--secondary);
    font-size: 100px;
    font-weight: bolder;
    text-align: center;

}

.plates {
    font-size: 18px;
    color: #d88e8e;
    

}


button {
    background-color: var(--primary);
    color:black;
    border-radius: 8px;
    font-size: 29px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: aliceblue;


}

button:hover {
    background-color: #d88e8e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color:black;


}
 #first-selection, #second-selection, #third-selection {
    color:#d88e8e;
    font-weight: bolder;
 }
 .property {
     /* ... */
 }

 @media (min-width: 576px) {
     .property-sm {
         /* ... */
     }
 }

 @media (min-width: 768px) {
     .property-md {
         /* ... */
     }
 }

 @media (min-width: 992px) {
     .property-lg {
         /* ... */
     }
 }

 @media (min-width: 1200px) {
     .property-xl {
         /* ... */
     }
 }